{% extends "../page.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Clear the ‘review HRT decision’ to-do</h1>
    <p>The change reported will not affect the claim.</p>

    <ol class="govuk-list govuk-list--number">
      <li>For ‘Is an HRT review needed?’, select ‘No’.</li>
      <li>In ‘Select a reason for decision’, select the most recent HRT decision.</li>
      <li>In ‘Decision notes’, type ‘The current decision is not affected by this change’.</li>
      <li>Select ‘Done’.</li>
    </ol>

    {{ govukButton({
      text: "Check another claimant",
      href: basePath
    }) }}

  </div>
</div>
{% endblock %}
