<form class="form" method="post">
  <fieldset>
    <div class="multiple-choice">
      <input type="radio" name="response" value="yes">
      <label for="yes">Yes</label>
    </div>
    <div class="multiple-choice">
      <input type="radio" name="response" value="no">
      <label for="no">No</label>
    </div>
    <div class="multiple-choice">
      <input type="radio" name="response" value="dontknow">
      <label for="dontknow">I'm not sure</label>
    </div>
  </fieldset>
  <input class="button button-continue" type="submit" value="Continue">
</form>
