{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <a class="link-back" href="/">Back</a>
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 id="outcome" class="heading-large">Do not clear the 'Review HRT Decision' to-do</h1>

      <p>The change <strong class="bold-small">will</strong> affect this claimant's right to reside.</p>

      <p><a class="button" href="/" role="button">Check another claimant</a></p>

    </div>
  </div>
</main>

{% endblock %}
