{% extends "../page.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">You can now clear the ‘Review HRT Decision’ to-do</h1>
    <p>The change will not affect this claimant’s right to reside.</p>
    <p>How to clear the Review HRT decision to-do</p>

    <ol class="govuk-list govuk-list--number">
      <li>In the ‘Select a reason for decision’ dropdown select the last HRT decision made for the claimant.</li>
      <li>In the decision notes type ‘The original decision on the claimant’s HRT status is not affected by this change’.</li>
      <li>Select ‘Done’.</li>
    </ol>

    {{ govukButton({
      text: "Check another claimant",
      href: basePath
    }) }}

  </div>
</div>
{% endblock %}
