{% extends "../page.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Do not clear the ‘Review HRT Decision’ to-do</h1>
    <p>The change of circumstances reported by the claimant might affect their claim.</p>
    <p>It needs to be reviewed by a decision maker. The decision maker will decide if another HRT needs to be booked.</p>

    <ol class="govuk-list govuk-list--number">
      <li>For the question ‘Is an HRT review needed?’, select ‘Yes’.</li>
      <li>In the agent notes type ‘The original decision on the claimant’s HRT status needs to be reviewed by a decision maker following this change’.</li>
      <li>Select ‘Save’.
    </ol>

    {{ govukButton({
      text: "Check another claimant",
      href: basePath
    }) }}

  </div>
</div>
{% endblock %}
