{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <a class="link-back" href="/">Back</a>
  <div class="grid-row">
    <div class="column-two-thirds">

      {% if error %}
        <div class="error-summary">
          <h1 class="heading-medium error-summary-heading">Please fix the following:</h1>
          <ul class="error-summary-list">
            <li><a href='#question'>
              Type in the nationality in the decision
            </a></li>
          </ul>
        </div>
      {% endif %}

      <h1 id="question" class="heading-large">What nationality is recorded in the decision?</h1>
      <form class="form" method="post" action="/country">
        <select name="response" id="openregister-picker" data-graph="/public/location-picker-graph.json" class="form-control full">
          {%- for country in countries %}
            <option value="{{country[1]}}">{{country[0]}}</option>
          {%- endfor %}
        </select>
        <p class="text"><a href="/refer">I cannot find the nationality in the decision</a></p>
        <input class="button button-continue" type="submit" value="Continue">
      </form>
    </div>
  </div>
</main>
{% endblock %}
