{% extends "../../question.html" %}

{% set changesHint %}
<p class="govuk-hint">These are in the ‘review HRT decision’ to-do.</p>

<ul class="govuk-list govuk-list--bullet">
  <li>Started work or self-employment</li>
  <li>Reached the GPoW review date set out in the decision</li>
  <li>Sanctioned for not actively seeking or not being available for work</li>
  <li>Stopped looking for work (e.g. becoming sick or taking on caring role)</li>
</ul>
{% endset %}

{% block content %}
  {% include "includes/yes-no-changes.html" %}
{% endblock %}
