{% extends "../question.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post">

      {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "find-decision",
        name: "findDecisionToDo",
        fieldset: {
          legend: {
            text: "Is the HRT decision recorded in the to‑do?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
       
        items: [
          {
            value: "yes",
            text: "Yes",
            checked: checked("findDecisionToDo", "yes")
          },
          {
            value: "no",
            text: "No",
            checked: checked("findDecisionToDo", "no")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>
{% endblock %}
