{% extends "layout.html" %}

{% block pageTitle -%}
  {{ serviceName }}
{%- endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {{ govukHeader({
    serviceName: serviceName,
    serviceUrl: "/"
  }) }}
  <div class="homepage-top">
    <div class="homepage-top-content">
      <h1 class="govuk-heading-xl">
        {{serviceName}}
        <span>Prototypes</span>
      </h1>
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {# Start of most recent box #}
    <div class="most-recent">

      {# Start of prototype write up #}
      <div class="prototype-write-up">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <dl>
              <dt class="govuk-heading-s">Date of release</dt>
              <dd class="govuk-body">1 May 2018</dd>
            </dl>
          </div>

          <div class="govuk-grid-column-one-third">
            <dl>
              <dt class="govuk-heading-s">Feature</dt>
              <dd class="govuk-body">Fix radio buttons on thin clients</dd>
            </dl>
          </div>

          <div class="govuk-grid-column-one-third">
            <dl>
              <dt class="govuk-heading-s">Related stories</dt>
              <dd class="govuk-body">PYCA-797</dd>
            </dl>
          </div>
        </div>

        <h3 class="govuk-heading-s">Changes</h3>
        <p>Prototype rebuilt from QA version using GOV.UK Design System. Latest release fixed radio buttons which weren’t working on Citrix thin clients.</p>

        <h3 class="govuk-heading-s">Hypothesis</h3>
        <p>None</p>

        <h3 class="govuk-heading-s">Research notes</h3>
        <p>None</p>

        {{ govukButton({
          text: "View prototype",
          href: "/prototype",
          classes: "govuk-button--start"
        }) }}
      </div>
      {# End of prototype write up #}

    </div>
    {# End of most recent box #}

  </div>
</div>

{% endblock %}
